body{
  margin:0;
  background:black;
  color:white;
  font-family:sans-serif;
  text-align:center;
}

.merch{
  padding:40px 20px;
}

.merch-grid{
  display:grid;
  grid-template-columns:1fr;
  gap:20px;
}

.merch-item img{
  width:100%;
  border-radius:12px;
}

.merch-item{
  text-decoration:none;
  color:white;
}
