body {
  margin:0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #7a0000, #000);
  color:white;
}

.nav {
  display:flex;
  justify-content:space-between;
  padding:20px;
}

.logo span {
  font-size:24px;
  font-weight:bold;
}

.links a {
  margin-left:15px;
  color:#ccc;
}

.hero {
  padding:40px 20px;
}

.tag {
  color:#aaa;
  font-size:12px;
}

h1 {
  font-size:42px;
  margin:10px 0;
}

.desc {
  color:#ccc;
  margin-bottom:20px;
}

.buttons {
  display:flex;
  flex-direction:column;
  gap:10px;
}

.btn {
  padding:15px;
  border-radius:30px;
  text-align:center;
  font-weight:bold;
}

.primary {
  background:white;
  color:black;
}

.outline {
  border:2px solid white;
}
